
body{
    font-family: "Poppins", sans-serif;
    /* background-color:rgba(170, 170, 170, 1) ; */
   
}

.fonts{
    color:rgba(58, 58, 58, 1);
    font-weight: 600;
    
  
    
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin:95px 120px;

}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 0 20px;
    

}

/* Keep the whole nav list on a single line */
/* nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
} */

    
nav ul li a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    display: inline-block;
    /* vertical-align: middle; */
}
#menu-bar{
    color: rgba(58, 58, 58, 1);
    font-size: 20px;
    margin: 0 0 0 20px;
    display: none;
    
}
.home{
    /* margin-right: 10px; */
    margin-top: 0;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 30vw;
    height: 30px;
  

}
nav h3{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    /* align-self: center; */
}
.start{
    width: 582px;
    height:270px ;
}
.secondpara{
    font-size: 25px;
    font-weight: 700;
  
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    position: relative;
    /* margin-left: px; */
    /* gap: 40px; */
    /* margin-right: 10px; */
    /* align-items: center; */
}
.btn{
    border-radius: 41px;
    border: 2px solid rgba(224, 44, 109, 1);
    color: white;
    background-color: rgba(224, 44, 109, 1);
    padding: 12px 24px;
    width: 160px;
    font-weight: 600;
}
.secondpara p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}
.camera{
    /* position: relative; */
    transform: translateX(50px);
    /* display: inline-block; */
}

.camera img{
    /* display: inline-block; */
    max-width: 100%;
    /* height: auto; */
}

.camera img.camera-pic{
    position: relative;
    z-index: 1;
}

.camera img.camera-circle{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    bottom: -10px;
    width: 700px;
    pointer-events: none;
    
}
.logos{
    display:flex;
    justify-items: space-between;
    gap: 60px;
    margin: 100px 220px 100px;
    padding: 30px 30px 40px 40px;
    /* border-color: rgba(170, 170, 170, 1); */
    border-style:solid ;
    width: 1000px;
    border-left:none;
    border-right: none;
    border-color:antiquewhite;
}
.products h5.title{
    font-size: 28px;
    font-weight: 600;
   align-items: center;
   justify-content: center;
   margin:20px 400px 2px 630px;
   /* margin-bottom: 10px; */
   /* padding: 10px -30px -30px; */
}
.products .img-name{
    font-size: 28px;
    font-weight: 500;

}
.products .price{
    font-size: 24px;
    font-weight: 300;
}
.product-grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
    margin: 100px 120px 9px;

}
.one-product{
    background-color:rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 30px;

}
.see-more{
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 1rem;
    grid-column: 3;
    text-align: right;
    cursor: pointer;

}
.footer{
    display: flex;
    gap: 96px;
    margin: 100px 165px 100px;  
    font-weight: 700;
 
}
.last-btn{
    border: 2px solid rgba(224, 44, 109, 1);
    color: white;
    background-color: rgba(224, 44, 109, 1);
    padding: 12px 10px;
    width: 160px;
    font-weight: 600;
    margin-top: 20px;
}
.last-p{
    color: rgba(108, 108, 108, 1);
    font-size: 16px;
}
footer{
    text-align: center;
    justify-content: center;
    background-color: rgba(58, 58, 58, 1);
    color: white;
    padding: 20px 589px;
}
.font-icon{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 10px;
}
.hide{
    display: none;
}
@media screen and (max-width:400px){
    .product-grid{
        flex-direction: column;
        grid-template-columns: 1fr;
        
    }

}
